__pycache__/
*.py[cod]

magik_trainingkit_torch_1.12.0_cuda11.3-3.0.0-py3-none-any.whl
magik_transformer-1.1.0-py3-none-any.whl
magik-transform-tools

runs/
*.pt
*.onnx
*.mgk
*.mk.h
*.log

data/
anytrek_2310
anytrek_detect