__pycache__/
*.py[cod]

magik_trainingkit_torch_1.12.0_cuda11.3-3.0.0-py3-none-any.whl
magik_transformer-1.1.0-py3-none-any.whl
magik-transform-tools

runs/
*.mk.h
*.log
*.bin
*.npy
*.xml
*.iml

data/